<!DOCTYPE html>
<html>
  <head>
    <title>Hack2SaveApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name.camelize %>" data-action="<%= action_name %>">
    <%= yield %>
  </body>
</html>
